.modes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;

    &__list {
        display: inline-block;
        list-style: none;
        margin: 0 auto;
        padding: 0;
    }

    &__list-item {
        margin-bottom: 30px;
    }
}
