.game-progress {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__track {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__icon {
    color: #555555;

    &_type {
      &_home {
        margin-right: auto;
        margin-left: 32px;
      }

      &_flag {
        margin-left: auto;
        margin-right: 32px;
      }
    }
  }

  &__progress-wapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
  }

  &__progress-line {
    margin-bottom: 15px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
