$side-padding: 10px;
$icon_width: 16px;

.input {
  position: relative;
  padding: 5px $side-padding;
  box-sizing: border-box;
  transition: all 0.1s ease-in-out;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;

  &_left-icon_visible {
    padding-left: $side-padding + $icon_width + 5px;
  }

  &_right-icon_visible {
    padding-right: $side-padding + $icon_width + 5px;
  }

  &__field {
    position: relative;
    width: 100%;
    background: transparent;
    border: none;
    color: #555555;
    font-size: 18px;
    line-height: 1.5;
    transition: all 0.1s ease-in-out;
    box-sizing: border-box;
  }

  &__bar {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;

    &:before,
    &:after {
      content: "";
      height: 2px;
      width: 0;
      bottom: 0;
      position: absolute;
      background: #0055ff;
      transition: 0.2s ease all;
    }

    &:before {
      left: 50%;
    }

    &:after {
      right: 50%;
    }

    &_state {
      &_focused {
        &:before,
        &:after {
          width: 50%;
        }
      }

      &_error {
        &:before,
        &:after {
          width: 50%;
          background: red;
        }
      }
    }
  }

  &__error {
    position: absolute;
    left: $side-padding;
    bottom: -20px;
    display: inline-block;
    color: red;
    margin-top: 6px;
    font-size: 12px;
  }

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &_type_left {
      left: $side-padding;
    }

    &_type_right {
      right: $side-padding;
    }
  }
}
