.drawer-toggler {
    $bl: '.drawer-toggler';

    margin: 1em;

    @media(min-width: 500px) {
        display: none;
    }

    &:before,
    &:after,
    &__item {
        background-color: rgba(0, 0, 0, 1.00);
        border-radius: 3px;
        content: '';
        display: block;
        margin: 5px 0;
        transition: all 0.5s ease-in-out;
    }

    &__item {
        &_size {
            &_normal {
                height: 2px;
            }

            &_small {
                height: 1px;
            }
        }
    }

    &_size {
        &_normal {
            width: 30px;

            &:before,
            &:after {
                height: 2px;
            }

            &#{$bl}_state_opened {
                &:before {
                    transform: translateY(7px) rotate(135deg);
                }

                &:after {
                    transform: translateY(-7px) rotate(-135deg);
                }
            }
        }
    }

    &_size {
        &_small {
            width: 25px;

            &:before,
            &:after {
                height: 1px;
            }

            &#{$bl}_state_opened {
                &:before {
                    transform: translateY(6px) rotate(135deg);
                }

                &:after {
                    transform: translateY(-6px) rotate(-135deg);
                }
            }
        }
    }

    &__item_state_opened  {
        transform: scale(0);
    }
}
