.description-card {
    width: 445px;
    padding: 30px 20px;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        box-shadow: 0 20px 50px rgba(232, 232, 232, 0.7);
        transform: scale(1.05);
    }

    &__title {
        display: inline-block;
        margin: 0;
        color: #000000;
        font-size: 24px;
        line-height: 1.2;
    }

    &__description {
        font-size: 18px;
        color: #555555;
        line-height: 1.5;
    }

}
