.button {
    display: inline-block;
    padding: 0 40px;
    height: 36px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    border: 0;

    &_type {
        &_primary {
            background-color: #05f;
            box-shadow: 0 2px 4px 0 rgba(0, 85, 255, 0.4);
            color: #ffffff;

            &:active {
                background-color: #004eeb;
                box-shadow: 0 1px 16px 0 rgba(0, 85, 255, 0.4);
            }

            &:disabled {
                background-color: #004eeb;
                opacity: 0.5;
            }

            &:hover {
                background-color: #004eeb;
                box-shadow: 0 1px 10px 0 rgba(0, 85, 255, 0.4);
            }
        }

        &_secondary {
            background-color: #ffffff;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

            &:active {
                box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.2);
            }

            &:disabled {
                opacity: 0.5;
            }

            &:hover {
                box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
            }
        }
    }
}
