.words {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__word {
    font-size: 48px;
  }

  &__buttons-wrapper {
    display: flex;
    width: 445px;
    margin-top: 40px;
  }

  &__button {
    &_type_skip {
      margin-right: auto;
    }

    &_type_done {
      margin-left: auto;
    }
  }

  &__teams {
    display: flex;
    margin: 20px 0 0;
    padding: 0;
    list-style: none;
  }

  &__team {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__circle {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__progress {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 20px;
    color: white;
    font-weight: bold;
    transform: translate(-50%, -50%);
  }

  &__team-name {
    margin-top: 20px;
    color: #555555;
    font-weight: bold;
  }
}
