.site-drawer {
    position: fixed;
    width: 240px;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: #ffffff;
    padding: 10px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);

    @media (min-width: 500px) {
        display: none;
    }

    &_state_visible {
        transform: translateX(0);
    }

    &__navigation-items {
        margin-top: 30px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

}
