.timer {
  display: inline-block;

  &__progress-circle {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    transition: stroke-dashoffset 0.35s;
  }

  &__counter {
    font-size: 30px;
    user-select: none;
  }
}
