.switch {
  $bl: ".switch";

  $switch-height: 30px;
  $switch-width: 55px;

  position: relative;
  display: inline-block;
  width: $switch-width;
  height: $switch-height;

  &__input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: $switch-height;
    background-color: #ccc;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
      box-shadow: 0 0 1px #0055ff;
    }

    &:before {
      position: absolute;
      content: "";
      height: $switch-height / 1.3;
      width: $switch-height / 1.3;
      top: 50%;
      left: 4px;
      border-radius: 50%;
      background-color: white;
      transform: translate(0, -50%);
      transition: 0.4s;
    }

    &_status_enabled {
      background-color: #0055ff;

      &:before {
        transform: translate($switch-height / 1.3, -50%);
      }
    }
  }
}
