.toolbar {
    display: flex;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #e8e8e8;

    &__logo {
        margin-left: auto;
        margin-right: 20px;

        @media (min-width: 500px) {
            margin: 0 40px;
        }
    }

    &__navigation-items {
        display: none;

        @media (min-width: 500px) {
            display: flex;
        }
    }
}
