.guessed-words {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__list {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    list-style: none;
  }

  &__word-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  &__word {
    color: #555555;
    fomt-size: 18px;
    font-weight: bold;
  }

  &__icon {
    margin-right: 11px;
    width: 55px;
    color: #0055ff;
  }

  &__hr-line {
    width: 100%;
    color: #aaa;
  }

  &__button {
    margin-top: 10px;
  }
}
