.teams {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;

  &__input {
    width: 300px;
    margin-bottom: 20px;
  }

  &__list {
    margin-top: 60px;
    text-align: center;
  }

  &__button {
    display: inline-block;
    height: 22px;
    margin: 5px auto 0;
    font-size: 16px;
    font-weight: 600;
    border: 0;
    background-color: transparent;
    transition: font-size 0.3s ease-in-out;

    &:hover {
      font-size: 18px;
    }
  }

  &__button-text {
    margin-left: 10px;
  }

  &__nav-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    width: 445px;
  }
}
