.logo {
    display: flex;
    align-items: center;


    &__circle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        margin-right: 12px;
        color: #ffffff;
        background-color: #0055ff;
        border-radius: 90px;
    }

    &__text {
        margin: 0;
        color: rgba(0, 0, 0, 0.87);
        font-size: 16px;
        letter-spacing: 0.5px;
        line-height: 1.3;
        font-weight: bold;

        &_mobile_hidden {
            display: none;

            @media (min-width: 500px) {
                display: inline-block;
            }
        }
    }
}


