.navigation-item {
    text-align: left;

    &__link {
        text-decoration: none;
        color: #999999;
        letter-spacing: 0;

        &:active,
        &:hover {
            color: #000000;
        }

        &_status_active {
            color: #000000;
        }
    }
}
