.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;

  &__timer {
    margin: 70px auto 40px;
  }

  &__starting-text {
    margin: 0;
    color: #555555;
    font-size: 18px;
  }

  &__button {
    &_type_start {
      margin-top: 25px;
    }
  }
}
