.modal {
  position: fixed;
  z-index: 500;
  top: 30%;
  left: 50%;
  padding: 20px;
  width: 70%;
  background-color: white;
  opacity: 0;
  box-sizing: border-box;
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transform: translate(-50%, -100vh);
  transition: all 0.3s ease-out;

  &_status_shown {
    opacity: 1;
    transform: translate(-50%, 0);
  }

  @media (min-width: 500px) {
    width: 500px;
  }
}
