.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;

    &_status_shown {
        opacity: 0.5;
        pointer-events: auto;
    }

}
