.navigation-items {
    display: flex;
    align-items: center;

    &__list {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;

        @media (min-width: 500px) {
            flex-direction: row;
        }
    }

    &__item {
        margin-bottom: 25px;

        @media (min-width: 500px) {
            margin-right: 60px;
            margin-bottom: 0;
        }
    }
}
